body {
    margin: 0;
}

#game-screen {
    display: block;
}

#gameOver, #playHUD, #start {
    position: absolute;
    visibility: hidden;
}

h1, h2, h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: yellow;
    text-align: center;
}

.title {
    font-size: 62px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton, #startButton {
    border: 2px solid blue;
    border-radius: 10px;
}

#restartButton:hover {
    background-color: blue;
}

#startButton:hover {
    background-color: blue;
}
#scoreboard {
    margin: 0px;
}